bin/Debug/net6.0/VisualApp.dll
bin/Debug/net6.0/VisualApp.dll
bin/Debug/net6.0/VisualApp.pdb
bin/Debug/net6.0/*
obj/*
bin/Debug/net6.0/VisualApp.dll
bin/Debug/net6.0/VisualApp.pdb
obj/staticwebassets.pack.sentinel
obj/Debug/net6.0/VisualApp.dll
obj/Debug/net6.0/VisualApp.pdb
