@page
@using System.Collections
@model PrivacyModel
@{
    ViewData["Title"] = "Pod Environment Variables";
}
<h1>@ViewData["Title"]</h1>

<ul>
@foreach(DictionaryEntry env in Environment.GetEnvironmentVariables())
{
    <li>[@env.Key] => @env.Value</li>
}
</ul>
