@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This Application is a simple Web Application that itemizes all of the Environment Variables injected by OpenShift to applications running on-platform.</p>
</div>
