@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<ul>
@foreach(var env in Environment.GetEnvironmentVariables().Values)
{
    <li>@env</li>
}
</ul>
